/* default setting of style */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    background: url(../assets/img/Background.png);
    background-color: black;
    background-size: cover;

    margin: 0px;
    transition: 1s;

    /* customised cursor */
    cursor: url('../../assets/cursor/default.png'),default;
}

a {
    cursor: url('../../assets/cursor/progress.png'),pointer;
}

h5{
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0px;
    transition: 1s;
}

p {
    font-size: 10px;

    cursor: url('../../assets/cursor/text.png'),text;
}

.textalign-left {
    text-align: left;
}

.textalign-centre {
    text-align: center;
}

.textalign-right {
    text-align: right;
}

.flex-c {
    display: flex;
}

.flex-column-c {
    display: flex;
    flex-direction: column;
}

.flex-centre-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-15px {
    margin: 15px;
}

.margin-30px {
    margin: 30px;
}

.transition-c {
    transition: 1s;
}

/* bunch import imgs */
.img1-srs,
.img2-srs,
.img3-srs,
.img4-srs,
.img5-srs,
.img6-srs,
.img7-srs {
    background-size: cover;
}

.img1-srs {
    background-image: url('../../assets/poster/cyberpunk-2077-po.jpg');
}

.img2-srs {
    background-image: url('../../assets/poster/ghost-in-the-shell-po.jpg');
}

.img3-srs {
    background-image: url('../../assets/poster/the-matrix-po.jpg');
}

.img4-srs {
    background-image: url('../../assets/poster/akira-po.jpg');
}

.img5-srs {
    background-image: url('../../assets/poster/blade-runner-1982-po.jpg');
}

.img6-srs {
    background-image: url('../../assets/img/neuromancer_cover.png');
}

.img7-srs {
    background-image: url('../../assets/poster/DoAndroidsDream-po.png');
}