/* this is stylesheet for exhibition page*/

/* General for default attributes of this page */
body {
    background: url(../../assets/img/search-background.png);
    background-color: black;
    background-size: cover;
}

/* adopt the header for exhibition page's small logo */
header {
    align-items: center;
    margin: 30px 10px;
}

.logo {
    margin-left: 30px;
    padding: 0px;
}

.logo a {
    font-family: 'Roboto Condensed';
}

/* exhibition page indicator */
.exhibition-navitem-desk {
    -ms-transform: rotate(-15deg);
    /* IE 9 */
    -moz-transform: rotate(-15deg);
    /* Firefox */
    -webkit-transform: rotate(-15deg);
    /* Safari & Chrome */
    -o-transform: rotate(-15deg);
    /* General Usage */
    transform: rotate(-15deg);
}

.exhibition-navitem-desk a {
    padding: 10px 20px;
    margin: 0px 20px;

    color: black;
    background-color: white;
}

/* Main - Codes */
main {
    position: absolute;
    width: 100%;
}

.ctbNctb {
    /* gap: 50px; */

    justify-content: space-between;
}

/* this is content cover block for media */
.content-cover-block {
    /* overflow: hidden; */

    width: 50%;
}

.content-cover-block img{
    width: 100%;
}

.citation-CCB {
    justify-content: end;
    gap: 30px;
}

.citation-CCB img {
    width: 10%;
}

.citation-CCB p {
    font-family: 'Libre Barcode 128';
    font-size: 20px;

    margin: 0;
    margin-top: 8px;
}

/* this is content text block for text */
.content-text-block {
    background: url('../../assets/svg/Info\ Block\ BG.svg');
    background-size: contain;
    background-repeat: no-repeat;

    width: 40%;
}

.frame-ctb {
    margin: 30px;
}

/* animation */


/* footer */
.copyright-icon {
    justify-content: right;

    margin: 0px 30px;
}

.copyright-icon div{
    display: none;
}
