/* this is stylesheet for main of search page */

/* General for default attributes of this page */
body {
    background: url(../../assets/img/search-background.png);
    background-color: black;
    background-size: cover;
}

.search-navitem-desk {
    -ms-transform: rotate(-15deg);
    /* IE 9 */
    -moz-transform: rotate(-15deg);
    /* Firefox */
    -webkit-transform: rotate(-15deg);
    /* Safari & Chrome */
    -o-transform: rotate(-15deg);
    /* General Usage */
    transform: rotate(-15deg);
}

.search-navitem-desk a {
    padding: 10px 20px;
    margin: 0px 20px;

    color: black;
    background-color: white;
}

.search-btn {
    shape-rendering: geometricPrecision;
    transition: .5s;
}

.search-btn:hover {
    fill: #f3ed19;
}

/* Main - Codes */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    height: 70%;
    width: 100%;
}

/* footer for search page */
.copyright-icon {
    justify-content: center;

    margin: 0px auto;
}

.copyright-icon div{
    display: none;
}